html{
    font-family: sans-serif;
    background-color:blue;
}
.bodystuff{
    margin:auto;
    margin-bottom:10px;
    background-color:#e0e0d1;
    padding:30px;
    width:70%;
}
.container {
    color:#444;
    margin:auto;
    width:80%;
    background-color:white;
    padding:10px;
}
.TodoItemTime {
    font-weight:bold;
    font-size:12px;
    border-radius:60px;
    padding: 3px;
    background-color: #f0b0f0;
}
li{
    padding:5px;
    margin-bottom:10px;
    background-color:lightblue;
    border:2px solid blue;
    width:200px;
    
}
#title{
    font-size:50px;
    color:black;
    text-align: center;
    border-radius:5px;
    background-color:white;
}
ul{
    list-style:square; 
    padding:5px;
    margin:10px;
    background-color:#a1a1a1;
    box-shadow:10px 10px 10px #888888;
}
.resize{
    width:230px;
    height:330px;
}
.centertext{
    margin:auto;
    width:50%;
}